*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url("images/bg.jpg");
    background-size: cover;
}

.menu-bar{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    height: 10%;
    /* border: 1px solid white; */
    position: relative;
    
}

.logo img{
    height: 200px;
    width: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0;
}


.navbar{
    width: 100%;
    text-align: right;   
}

.navbar li{
    display: inline;
    margin-right: 30px;
    list-style: none;
    letter-spacing: 2px;
    
}


.navbar li a{
    text-decoration: white;
    color: white;
    padding-bottom: 7px;
    transition: all 0.5s;
    position: relative; 
    letter-spacing:0.5px;
}

.navbar li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
    transition: all 1s;
}

.navbar li a:hover:after{
    width: 100%;
    /* color: #d5f700; */
    background-color: #d5f700;
}

.navbar li a:hover{
    color:#d5f700;
}

.navbar ul li{
    margin : 40px;
}


.content{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif;
}

.content h1{
    color: white;
    font-size: 5rem;
    font-weight: lighter;
    letter-spacing: 1rem;
}
.content h2{
    color: white;
    /* margin-top: 10px; */
    font-size: 1rem;
    letter-spacing: 0.3rem;
    padding-left: 5px;
}

.second-heading{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(0);
    transition: all 1s; */
    
}

.second-heading div{
    width: 70px;
    height: 2px;
    background-color: #d5f700;
    transition: width 2s;
}


/* .expand{
    transition-delay: 3000ms;
    transform: scale(2);
    /* transition: all 4s; *
    /* transition-delay: 1s; *
} */

/* **********************************************About Me*************************** */
.section-1{
    width: 200%;
    height: 200vh;
    background-color: #faf3f3;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: scale 0.7s ease;
    /* overflow: hidden; */
}
.about-me{
    padding: 50px;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* display: none; */
    visibility:hidden;
    background: #faf3f3;
    /* border-radius: 50%; */
    
    
    
}

.about-me p{
    /* width: 70%; */
    text-align: justify;
    line-height: 2rem;
    letter-spacing: 1px;
}

.about-me h1{
    height: 100px;
}

.inner-about{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.inner-about img{
    width: 150px;
    height: 150px;
    margin-bottom: 50px ;
    border-radius: 50%;

}

.cross{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #faf3f3;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.cross div{
    width: 100%;
    height: 2px;
    background-color: #0C0C0C;
    transform: rotate(45deg);
    position: relative;
}

.cross div::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0px;
    right: 0px;
    transform: rotate(90deg);
    background-color: #0C0C0C;


}



/* ********************************************Portfolio********************* */

.section-2{
    width: 200%;
    height: 200vh;
    background-color: #faf3f3;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: scale 0.7s ease;
    /* overflow: hidden; */
}


.set-1{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    margin: 10px;
}

.portfolio h1{
    text-align: center;
    margin: 50px 0;
}

.portfolio{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrow-1{
    position: absolute;
    top: 447px;
    right: 100px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* background-color: #0C0C0C; */
    /* padding: 5px; */
}

.arrow-1 > div{
    position : relative;
    width: 100%;
    height: 2px;
    background-color: #0C0C0C;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    transform: rotate(30deg);
}

.arrow-1 > div:after{
    content: '';
    position: absolute;
    top: 22px;
    left: 12px;
    /* right: 10px; */
    z-index: 1;
    width: 100%;
    height: 2px;
    background-color: #0C0C0C ;
    transform: rotate(-60deg);
}

.arrow-1:hover div{
    background-color: #d5f700;
    /* border: 1px solid #0C0C0C; */
}

.arrow-1:hover div::after{
    background-color: #d5f700;
}

.arrow-2{
    position: absolute;
    top: 447px;
    left: 100px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    /* background-color: #0C0C0C; */
    /* padding: 5px; */
}

.arrow-2 > div{
    position : relative;
    width: 100%;
    height: 2px;
    background-color: #0C0C0C;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg);
}

.arrow-2 > div:after{
    content: '';
    position: absolute;
    top: 22px;
    right: 12px;
    /* right: 10px; */
    z-index: 1;
    width: 100%;
    height: 2px;
    background-color: #0C0C0C;
    transform: rotate(60deg);
}

.arrow-2:hover div{
    background-color: #d5f700;
}

.arrow-2:hover div::after{
    background-color: #d5f700;
}


.sets{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.set-2{
    display: none;
    transform: translateX(800px);
    transition: all 0.7s;
}

.portfolio-sec{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #faf3f3;
    /* display: none; */
    visibility: hidden;
    transition: visibility 0.4x ease;
}

/* **************************************************CONTACT ME************************** */

.contact-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    background: #faf3f3;
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
    visibility: hidden;

}

.contact-form{
    width: 60%;
    height: 70%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px gray;
    
}

.contact-form img{
    height: 100%;
    width: 40%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    
}

.message{
    height: 100%;
    width: 60%;
    background-color: #0C0C0C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}

.message input,textarea{
    width: 80%;
    border: none;
    border-bottom: 2px solid #d5f700;
    background: transparent;
    
}

.message h1{
    padding-bottom: 100px;
    color: #d5f700;
    letter-spacing: 1.5px;
}

input,textarea::placeholder{
    font-family: inherit;
    font-size: 1rem;
    letter-spacing: 1px;
}

input,textarea{
    padding: 5px;
    padding-bottom: 10px;
    overflow: hidden;
    resize: none;
    color: white;
    font-family: inherit;
    letter-spacing: 1.5px;
}

input:focus,textarea:focus{
    outline: none;
    caret-color: #d5f700;
    /* color: white; */
}

.message button{
    width: 70px;
    height: 25px;
    border: 2px solid #d5f700;
    background: transparent;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}