*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url("images/bg.jpg");
    background-size: cover;
}

.menu-bar{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    height: 10%;
    /* border: 1px solid white; */
    position: relative;
    
}

.logo img{
    height: 100px;
    width: auto;
    position: absolute;
    top: 30px;
    left: 50px;
    padding: 0;
}


.navbar{
    width: 100%;
    text-align: right;   
}

.navbar li{
    display: inline;
    margin-right: 30px;
    list-style: none;
    letter-spacing: 2px;
    
}


.navbar li a{
    text-decoration: white;
    color: white;
}

.navbar li a:hover{
    color: #d5f700;
}
